<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :task_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :currentStep %><br>
    <%= f.number_field :currentStep %>
  </div>
  <%= button_tag %>
  <div id="add_step">Add Step</div>
  <div id="steps"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  
  $('#add_step').click(function(){
    var jqxhr = $.ajax( "https://taskforce-yamiljm.c9.io/step_definitions/new" )
  .done(function(html) {
    $('#steps').append(html)
  })
  .fail(function() {
    alert( "error" );
  })
  .always(function() {
    alert( "complete" );
  });
    });
</script>