<style>
.ui-autocomplete{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:160px;_width:160px;padding:4px 0;margin:2px 0 0 0;list-style:none;background-color:#ffffff;border-color:#ccc;border-color:rgba(0, 0, 0, 0.2);border-style:solid;border-width:1px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px}.ui-autocomplete .ui-menu-item > a.ui-corner-all{display:block;padding:3px 15px;clear:both;font-weight:normal;line-height:18px;color:#555555;white-space:nowrap}.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active{color:#ffffff;text-decoration:none;background-color:#0088cc;border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px;background-image:none}
</style>

<%= form_for @task, :html => { :class => "form-horizontal task" } do |f| %>

  <% if @task.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :task_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :task_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:task_type) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :currentStep, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :currentStep, :class => 'form-control' %>
    </div>
    <%=f.error_span(:currentStep) %>
  </div>
  <div class="form-group">
    <%= f.label :user, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.autocomplete_field :user, autocomplete_user_name_users_path, 'data-auto-focus' => true, 'data-noMatchesLabel' => 'no user found', :id_element => '#task_user_id', :class => 'form-control' %>
    </div>
    <%=f.error_span(:user) %>
  </div>
  


  <div class="form-group">
    <div class="col-lg-10">
      <%= f.hidden_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-10">
      <%= f.hidden_field :agent, :class => 'form-control', :value => 'yes' %>
    </div>
    <%=f.error_span(:agent) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn btn-default' %>
    </div>
  </div>

  <% if @task.steps.empty? %>
    <h5>This task has no steps defined</h5>
  <% else %>
    <div class="container">
      <%= render partial: 'task_step', collection: @task.steps, as: :step%>
    </div>
  <% end %>

<% end %>
