 <div class='nested-fields'>
	  <div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	  </div>
	  <div class="field">
	    <%= f.label :type %><br>
	    <%= f.text_field :field_type %>
	  </div>
	  <div class="field">
	    <%= f.label :validationRegex %><br>
	    <%= f.text_field :validationRegex %>
	  </div>
	  <div class="field">
	    <%= f.label :required %><br>
	    <%= f.check_box :required %>
	  </div>
	  <div class="field">
	    <%= f.label :step_definition_id %><br>
	    <%= f.number_field :step_definition_id %>
	  </div>
	  <div class="field">
	    <%= f.label :errorMessage %><br>
	    <%= f.text_field :errorMessage %>
	  </div>
	  <div class="field">
	    <%= f.label :order %><br>
	    <%= f.number_field :order %>
	  </div>
	  <%= link_to_remove_association "remove step", f %>
</div>
