 <div class='nested-fields panel panel-info field_panel'>
   <div class="panel-heading">
    <h3 class="panel-title">Field</h3>
  </div>
  	<div class="panel-body">
  		<div class="row" >	
		  <div class="field col-sm-6">
		    <%= f.label :name %><br>
		    <%= f.text_field :name %>
		  </div>
		  <div class="type-container">
			  <div class="field col-sm-6">
			    <%= f.label :type %><br>
			    <%= f.select :field_type, ["TEXT", "OPTIONS", "NUMBER", "BOOLEAN"], selected: f.object.field_type %>
			  </div>
			  <div class="field col-sm-6 option-values" style="display:<%=FieldDefinitionsHelper.optionsStyle(f.object.field_type)%>;">
			    <%= f.label :options %><br>
			    <%= f.text_field :options %>
			  </div>
		  </div>
		  <div class="field col-sm-6"><br>
		    <%= f.label :required %>
		    <%= f.check_box :required %>
		  </div>
	  </div>

	  <div class="row" >	
		  <div class="field col-sm-6">
		    <%= f.label :validationRegex %><br>
		    <%= f.text_field :validationRegex %>
		  </div>
		  <div class="field col-sm-6">
		    <%= f.label :errorMessage %><br>
		    <%= f.text_field :errorMessage %>
		  </div>
		  <div class="field col-sm-6">
		    <%= f.label :order %><br>
		    <%= f.number_field :order %>
		  </div>
	  </div>
	  
	</div>
	<div class="panel-footer">
		<%= link_to_remove_association "Remove field definition", f %>
	</div>
</div>


<script>
	$(function(){
		console.log("Alo alo");
      $('.type-container select').change(function() {

        if ($(this).val()=="OPTIONS") {
          console.log("SOY OPTIONS");
          var parent = $(this).parent().parent();
          var children = parent.children('.option-values');
          children.show()
        } else {
          console.log("SOY OTRA COSA");
          var parent = $(this).parent().parent();
          var children = parent.children('.option-values');
          children.hide()
        }
    });
</script>
