 <div class='nested-fields panel panel-default step_panel'>
  <div class="panel-heading">
    <h4 class="panel-title">Step
      <span class="pull-right "><i id=<%= "step" + f.options[:child_index].to_s %> class="glyphicon glyphicon-chevron-up unique clickable"></i></span>
    </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="field">
        <div class="col-sm-4">
          <%= f.label :order %>
          <%= f.number_field :order %>
        </div>
      </div>
    </div>
  

    <div class='links'>
        <%= link_to_add_association 'Add field definition', f, :field_definitions %>
    </div>

    <div class="row">
      <div id='field_definition'>
        <div class="col-sm-12">
          <%= f.fields_for :field_definitions do |field_definition| %>
            <%= render 'field_definition_fields', :f => field_definition%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to_remove_association "Remove step definition", f %>
  </div>
  </div>
</div>


