 <div class='nested-fields panel panel-default'>
  <div class="panel-heading">
    <h3 class="panel-title">Step</h3>
    
  </div>
  <div class="panel-body">
    <div class="field row">
      <div class="col-sm-2"
        <%= f.label :order %><br> 
      </div>
      <div class="col-sm-2">
        <%= f.number_field :order %>
      </div>
    </div>

    <div class='links'>
        <%= link_to_add_association 'Add field definition', f, :field_definitions %>
    </div>

    <div class="row">
      <div id='field_definition'>
        <div class="col-sm-4">
          <%= f.fields_for :field_definitions do |field_definition| %>
            <%= render 'field_definitions_fields', :f => field_definition%>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to_remove_association "Remove step definition", f %>
  </div>
</div>